build-essential git curl python-setuptools curl unzip python-dev python-pip openssh-client python-yaml python-jinja2 python-httplib2 python-keyczar python-paramiko python-setuptools python-pkg-resources

