backend "dynamodb" {
  region = "{{ vpc_region }}"
  access_key = "{{ lookup('env','ACCESS_KEY') }}"
  secret_key = "{{ lookup('env','SECRET_KEY') }}"
  session_token = "{{ lookup('env','AWS_TOKEN') }}"
}

listener "tcp" {
  address = "0.0.0.0:8200"
  tls_disable = 1
}
