#!/bin/sh
VAULT_VERSION=0.5.1
VAULT_SHA256=7319b6514cb5ca735d9886d7b7e1ed8730ee38b238bb1626564436b824206d12

sudo apt-get -y update
sudo apt-get install -y unzip supervisor
mkdir -p /tmp
curl https://releases.hashicorp.com/vault/${VAULT_VERSION}/vault_${VAULT_VERSION}_linux_amd64.zip --output /tmp/vault.zip

echo "${VAULT_SHA256} */tmp/vault.zip" | sha256sum -c - \
  && cd /tmp \
  && unzip vault.zip -d vault \
  && sudo mv vault/* /bin/ \
  && rm vault.zip

PUBLIC_IP=$(curl http://169.254.169.254/latest/meta-data/public-ipv4/)
CREDENTIALS=$(curl http://169.254.169.254/latest/meta-data/iam/security-credentials/sanctuary)
ACCESS_KEY=$(echo $CREDENTIALS | python -c "import json, sys; print json.load(sys.stdin)['AccessKeyId']")
SECRET_KEY=$(echo $CREDENTIALS | python -c "import json, sys; print json.load(sys.stdin)['SecretAccessKey']")
AWS_TOKEN=$(echo $CREDENTIALS | python -c "import json, sys; print json.load(sys.stdin)['Token']")

cat <<EOF > /home/ubuntu/vault.conf
backend "dynamodb" {
  region = "{{ vpc_region }}"
  table = "{{ vpc_table_name }}"
  access_key = "$ACCESS_KEY"
  secret_key = "$SECRET_KEY"
  session_token = "$AWS_TOKEN"
  advertise_addr = "https://$PUBLIC_IP"
}

listener "tcp" {
  address = "$PUBLIC_IP:8200"
  tls_disable = 1
}
EOF

cat <<EOF > /home/ubuntu/supervisord.conf
[supervisord]
nodaemon=true

[program:vault]
autorestart=true
command=vault server -config /home/ubuntu/vault.conf
EOF

sudo supervisord -c /home/ubuntu/supervisord.conf
