{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "FullSanctuaryTableAccess",
            "Effect": "Allow",
            "Action": ["dynamodb:*", "s3:*"],
            "Resource": ["*"]
        }
    ]
}
